/CML.Applications/bin
/CML.Applications/obj
/CML.DataAccess/bin
/CML.DataAccess/obj
/CML.Lib/obj
/CML.Lib/bin
/CML.NetCore/obj
/CML.NetCore/bin
/CML.NetCore.Infrastructure/bin
/CML.NetCore.Infrastructure/obj
/NewCoreWeb/obj
/NewCoreWeb/bin
/CML.MQ/bin
/CML.MQ/obj
/CML.Lib.Test/obj
/CML.Lib.Test/bin
/KjNet.SqlDoc.Web/bin
/KjNet.SqlDoc.Web/obj
/KjNet.SqlDoc.Repository/obj
/KjNet.SqlDoc.Repository/bin
/KjNet.SqlDoc.Application/obj
/KjNet.SqlDoc.Application/bin
/KjNet.SqlDoc.Domain/bin
/KjNet.SqlDoc.Domain/obj
/.vs
/CML.MQ.Test/bin
/CML.MQ.Test/obj
/CML.MQ.Pull.Test/bin
/CML.MQ.Pull.Test/obj
/CML.MQ.Subscribe.Test/bin
/CML.MQ.Subscribe.Test/obj
/CML.Redis/bin
/CML.Redis/obj
